{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name der Applikation*</label>
            {{ form.name }}
            <small id="app_name_help" class="form-text text-muted">
                Nur Kleinbuchstaben und Ziffern
            </small>
        </div>
        {% if form.name.errors %}
            <div class="alert alert-danger col-md-12">{{form.name.errors}}</div>
        {% endif %}
        
        <div class="form-check">
            <span class="switch switch-sm">
                {{ form.managed }}
                <label for="{{ form.managed.id_for_label }}">
                    Soll die Applikation automatisch aktualisiert werden, wenn eine neue juntagrico Version erscheint?
                </label>
            </span>
        </div>
    
        <button type="submit" class="btn btn-success mt-3">weiter</button>
    </form>
{% endblock %}

