{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <title>Juntagrico Hosting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link href="{% static 'external/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/juntagrico.css' %}" rel="stylesheet">
    <link href="{% static 'css/slider.css' %}" rel="stylesheet">

</head>
<body>
<div class="page-container container">
    <div class="bordertop"></div>
    <div class="borderleft"></div>
    <div class="borderright"></div>
    <div class="borderbottom"></div>
    <div class="logo-row row">
        <div class="logo-col col-md-12">
            <a href="{% url 'home' %}">
                <span class="juntagrico-logo juntagrico_logo">
                </span>
            </a>
        </div>
    </div>
    <div class="all-page-title row mb-3">
    {% block all_page_title %}
        <div class="page-title offset-md-3 col-md-9">
            {% block page_title %}
            {% endblock %}
        </div>
    {% endblock %}
    </div>
    
    <div class="row juntagrico">
        {% block allcontent %}
            <div class="navigation col-md-3 mb-5">
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li>
                        <h5>Dein Menu {{ user.first_name }}</h5>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'profile' %}">Profil</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                {% for message in messages %}
                    <div class="alert alert-{% if message.level_tag == 'error' %}danger{% elif message.level_tag == 'debug' %}secondary{% else %}{{ message.level_tag }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class="row footer">
    </div>
</div>

<script type="text/javascript" src="{% static 'external/jquery-1.11.2/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'external/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% block scripts %}
    {# no scripts by default #}
{% endblock %}
</body>
