{% extends "base.html" %}

{% block content %}
    {% if can_add_app %}
        <div class="row mb-3">
            <div class="col-md-12">
                <div role="group">
                    <a href="/ca/start" class="btn btn-success mb-1">neue Applikation</a>
                    <a href="/ca/import" class="btn btn-outline-success mb-1">bestehende Applikation importieren</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if apps %}
        <div class="row mb-3">
            <div class="col-md-12">
                <h2>Apps</h2>
                <ol>
                    {% for app in apps %}
                        <li>
                            <a href="{% url "overview" app.id %}">{{ app.name }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}
{% endblock %}


