{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group row">
                <label class="col-form-label col-md-4" for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
        
                <div class="col-md-8">
                    {{ field }}
                </div>
            </div>
            {% if field.errors %}
                <div class="alert alert-danger col-md-12">{{field.errors}}</div>
            {% endif %}
        {% endfor %}        
        
        <div class="form-group row">
            <div class="offset-md-4 col-md-8">
                <button type="submit" class="btn btn-success">ändern</button>
            </div>
        </div>
    </form>
        
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'password_change' %}">Passwort ändern</a>
        </div>
    </div>
{% endblock %}
