{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for repo in repos %}
            <div class="form-group">
                <span class="switch switch-sm">
                    <input type="radio" class="switch" name="repo" value="{{ repo.id }}" id="repo-{{ repo.id }}"/>
                    <label for="repo-{{ repo.id }}">
                        {{repo.full_name}}
                    </label>
                </span>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success mt-3">weiter</button>
    </form>
{% endblock %}
