{% extends "base.html" %}

{% block content %}
    <form action="" method="post" class="createsubscription">
        {% csrf_token %}
        {% for repo in repos %}
            <div class="form-group row">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-9 offset-md-3 controls radio"> 
                    <label for="repo-{{ repo.id }}" class="col-form-label col-md-2">
                        <input type="radio" name="repo" class="onoffswitch" value="{{ repo.id }}" id="repo-{{ repo.id }}"/>
                    </label>
                    <label for="repo-{{ repo.id }}" class="col-form-label col-md-7">
                        {{repo.full_name}}
                    </label>
                </div>
            </div>
        {% endfor %}
        <div class="form-group row">
            <div class="offset-md-3 col-md-9">
                <button type="submit" class="btn btn-success">weiter</button>
            </div>
        </div>
    </form>
{% endblock %}
