{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="card">
        <h5 class="card-header">{{ step }}</h5>
        <div class="card-body">
            <h4 class="card-title" id="progress-title">{{ title|default:'Das kann einen Moment dauern' }}</h4>
            <p class="card-text" id="progress-text">Hier etwas zum Anschauen während du wartest.</p>
            <div class="progress mb-3" id="progress-div">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                   role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                   style="width: 0" id="progress"></div>
            </div>
            {% block next_link %}
                <a href="{{ next }}" class="btn btn-success disabled" id="next">weiter</a>
            {% endblock %}
        </div>
        <div class="card-footer text-muted">
            Prozess id {{ pid }}
        </div>
    </div>
{% endblock %}
    
{% block scripts %}
    <script type="text/javascript">
        var pid = '{{ pid }}';
    </script>
    <script type="text/javascript" src="{% static 'js/initwaitnext.js' %}"></script>
{% endblock %}
